$color-black-100: rgb(0, 0, 0);
$color-black-060: rgba(0, 0, 0, .6);
$color-black-040: rgba(0, 0, 0, .4);
$color-black-010: rgba(0, 0, 0, .1);
$color-black-003: rgba(0, 0, 0, .03);

$color-white-100: rgb(255, 255, 255);
$color-white-060: rgba(255, 255, 255, .6);
$color-white-040: rgba(255, 255, 255, .4);

$border-radius: .75rem;

@mixin tablet {
  @media screen and (max-width: 928px) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: 608px) {
    @content;
  }
}

@keyframes -global-fade {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}